<!doctype html>
<html>
	<head>
		<title>answer</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	 	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		
		
	</head>
	<body>
		<div class="container">
			<div class="row">
				{% for answer in answers %}
					<div class="col-md-12">
						<div class="panel panel-primary">
			  				<div class="panel-body">
                                <label class="label label-primary pull-right"><i class="glyphicon glyphicon-arrow-up"></i> {{ answer.vote_up }}</label>
                                <br>
			    				{{ answer.summary | safe }}
			    				{% if answer.summary | length >= 200 %}
			    				...
			    				{% endif %}
			    				<br>
			    				<a href="/answer/{{ answer.id }}" target="_blank">查看详情</a> &nbsp;&nbsp;
			    				<a href="https://www.zhihu.com/question/{{ answer.question_id }}/answer/{{ answer.id }}" target="_blank">查看原链接</a>
			 				</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div>
				<nav>
				  	<ul class="pagination">
				  		{% if pagination.has_prev_page %}
					    <li>
					      	<a href="{{ url_for('answer') }}" aria-label="Previous">
					        	<span aria-hidden="true">&laquo;</span>
					      	</a>
					    </li>
					    {% else %}
					    <li class="disabled">
					      	<a href="javascript:void(0);" aria-label="Previous">
					        	<span aria-hidden="true">&laquo;</span>
					      	</a>
					    </li>
					    {% endif %}
					    {% if 1 in pagination.page_range %}
						    {% for page in pagination.page_range %}
						    <li>
						      	<a href="{{ url_for('answer') }}?page={{ i }}" aria-label="Previous">
						        	{{ i }}
						      	</a>
						    </li>
						    {% endfor %}
					    {% else %}
						    <li>
						      	<a href="{{ url_for('answer') }}?page=1" aria-label="Previous">
						        	1
						      	</a>
						    </li>
						    {% if pagination.page_range and pagination.page_range[0] > 2 %}
						    <li>
						      	<a href="javascript:void(0);"  aria-label="Previous">
						        	...
						      	</a>
						    </li>
						    {% endif %}				    
						    {% for page in pagination.page_range %}
							    <li>
							      	<a href="{{ url_for('answer') }}?page={{ page }}" aria-label="Previous">
							        	{{ page }}
							      	</a>
							    </li>
						    {% endfor %}
					    {% endif %}
					    {% if pagination.last_page not in pagination.page_range %}
						    <li>
						      	<a href="javascript:void(0);"  aria-label="Previous">
						        	...
						      	</a>
						    </li>
						    <li>
						      	<a href="{{ url_for('answer') }}?page={{ pagination.last_page}}">
						        	{{ pagination.last_page }}
						      	</a>
						    </li>
					    {% else %}
						    <li>
						      	<a href="{{ url_for('answer') }}?page={{ pagination.last_page}}">
						        	{{ pagination.last_page }}
						      	</a>
						    </li>
						{% endif %}
						{% if pagination.has_next_page %}
					    <li>
					      	<a href="{{ url_for('answer') }}?page={{ pagination.current_page + 1 }}" aria-label="Next">
					        	<span aria-hidden="true">&raquo;</span>
					      	</a>
					    </li>
					    {% else %}
					    <li class="disabled">
					      	<a href="javascript:void(0);" aria-label="Next">
					        	<span aria-hidden="true">&raquo;</span>
					      	</a>
					    </li>
					    {% endif %}
					    
				  	</ul>
				</nav>
			</div>
		</div>
	</body>
</html>