{% extends "layout.html" %}
{% block title %}
	收藏
{% endblock %}

{% block content %}
	<div class="row">
		{% for collection in collections %}
			<div class="col-md-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
					    <h3 class="panel-title">{{ collection.title }}</h3>
					</div>
	  				<div class="panel-body">
	  					{% if collection.description %}
	  						{{ collection.description | safe }}
	  					{% else %}
	    					<span class="text-muted">暂无描述</span>
	    				{% endif %}
	    				<br>
	    				<a href="/collection/{{ collection.id }}" target="_blank">查看详情</a> &nbsp;&nbsp;
	    				<a href="https://www.zhihu.com/collection/{{ collection.id }}" target="_blank">查看原链接</a>
	 				</div>
				</div>
			</div>
		{% endfor %}
	</div>
	{% include 'pagination.html' %}
{% endblock %}