<!doctype html>
<html>
	<head>
		<title>question</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	 	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		
		
	</head>
	<body>
		<div class="container">
			<div class="row">
				{% for question in questions %}
					<div class="col-md-12">
						<div class="panel panel-primary">
			  				<div class="panel-body">
			    				{{ question.title | safe }}
			    				<br>
			    				<a href="https://www.zhihu.com/question/{{ question.id }}" target="_blank">查看原链接</a>
			 				</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>